<center>
  <h2>{ categories }</h2>
  <div class="row">
    <% @buses.each do |bus| %>
    <div class="col-md-6">
      <h2><%= bus.name %><br></h2>
      <h3>
        <%= link_to bus_path(bus) do %>
        <%= image_tag("#{bus.image}") %>
        <%end%>
      </h3>
    </div>
    <% end %>
  </div>
</center>

<hr>

<center>
  <div class="click">
    <%= link_to new_bus_path do %>
    <% end %>
  </div>
  <h2><%= link_to "Add Bus", new_bus_path %></h2>
</center>
